.ReactModal__Overlay{
    z-index: 1000;
}

.ReactModal__Overlay>div{
    align-content: center;
}

/* AgeVerificationModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect to the background */
}

.modal-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    padding: 100px 20px;
    text-align: center;
    font-family: 'Baskerville', serif;
}

.modal-content p {
    font-size: 1.5em;
    color: black;
    margin-bottom: 20px;
}

.modal-content button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #000;
    color: white;
    font-family: 'Baskerville', serif;
}

.modal-content button:hover {
    background-color: #444;
}

button:focus {
    outline: none;
}

.modal-over-age{
    text-align: -webkit-center;
}

.modal-over-age>div{
    width: 20%;
}

.modal-over-age>div>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-content p {
        font-size: 1.2em;
    }

    .modal-content button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .modal-over-age>div{
        width: 100%;
    }
}
